@media (min-width:293px) and (max-width: 998px) { 
	main > .container{
		padding: 10px !important;
	}

	.container-cadastro{
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.container-cadastro_content{
		width: 100% !important;
	}

	.container-cadastro_content img{
		width: 100% !important;
	}

}