@media (min-width: 360px) and (max-width: 798px) { 
	.container_content{
		width: 100% !important;
		padding: 2px !important;

	}

	.container_content h1{
		text-align: center;
		font-size: 25px !important;
	}

	.container_content img{
		width: 100% !important;
	}

	.card-equipe .col-2{
		width: 100% !important;
		margin-bottom: 15px;
		padding: 2px;
	}

}